.center {
    padding: 8.2% 0;
    background-image: url("./assets/images/center/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .center__container {
        overflow-x: visible;
        
        .center__description {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: 0 0 62px;

            .center__description__text {
                max-width: 53%;
                
                .center__title {
                }


                p {
                    line-height: 155%;

                    &:not(:last-child) {
                        margin: 0 0 20px;
                    }
                }

                @media (max-width: 349px) {

                    .center__title {
                        font-size: 2.85rem;
                    }

                    p {
                        font-size: 1.2rem;

                        &.text-4 {
                            font-size: 1.65rem;
                        }
                    }
                }
            }

            @media (max-width: 1074px) {
                .center__description__text {
                    max-width: none;
                }
            }

            .center__description__stat {
                display: flex;
                gap: 20px;
                justify-content: end;
                flex-wrap: wrap;

                .stat-item {
                    max-width: 230px;
                    min-width: 230px;
                    aspect-ratio: 1;                
                    border: 1px solid #ACA29D;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 6px;

                    .stat-item__count {
                        font-weight: 500;
                        font-size: 4.8rem;
                        line-height: 125%;
                        letter-spacing: -0.3px;
                        color: #44881F;
                    }

                    .stat-item__text {
                        text-align: center;
                    }
                }

                @media (max-width: 524px) {
                    .stat-item {
                        max-width: 173px;
                        min-width: 173px;

                        .stat-item__count {
                            font-size: 3.6rem;
                        }
    
                        .stat-item__text {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            @media (max-width: 1024px) {
                .center__description__stat {
                    justify-content: center;
                }
            }
        }

        @media (max-width: 1074px) {
            .center__description {
                flex-wrap: wrap;
                row-gap: 30px;
            }
        }
    }

    .center-slider {
        width: 100%;
        display: flex;
        column-gap: 2.3vw;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;

        .center-slider__slide {
            position: relative;
            aspect-ratio: 1;

            &._small {
                max-width: 26vw;
                min-width: 26vw;
            }

            &._big {
                max-width: 30vw;
                min-width: 30vw;
            }

            @media (max-width: 1024px) {
                &._small {
                    display: none;
                }

                &._big {
                    max-width: 40vw;
                    min-width: 40vw;
                }
                
            }

            @media (max-width: 768px) {
                &._big {
                    max-width: 53vw;
                    min-width: 53vw;
                }
            }

            @media (max-width: 499px) {
                &._big {
                    max-width: 71vw;
                    min-width: 71vw;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                object-fit: cover;
            }
        }

        .center-slider__arrow {
            max-width: 2.5vw;
            min-width: 2.5vw;
        }

        @media (max-width: 1024px) {
            .center-slider__arrow {
                max-width: 48px;
                min-width: 48px;
            }
        }

        @media (max-width: 1024px) {
            .center-slider__arrow {
                display: none;
            }
        }

        .center-slider__pagination {
            display: flex;
            column-gap: 7px;
            flex-basis: 100%;
            justify-content: center;

            div {
                width: 10px;
                aspect-ratio: 1;
                border: 1px solid #44881F;
                border-radius: 50%;

                &._active {
                    width: 12px;
                    background-color: #44881F;
                }
            }
        }
    }
}

.center-slider__arrow {
    z-index: 10;
}