.promotions {
    padding: 8.2% 0; 
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;

    @media (max-width: 774px) {
        .promotions__arrow {
            display: none;
        }
    }

    .promotions__container {
        margin: 0;
        max-width: 1082px;
        flex-shrink: 1;
    }

    @media (max-width: 1224px) {
        .promotions__container {
            width: 75%;
            margin: 0;
        }
    }
    
    .promotions-slider {
        position: relative;
        overflow-y: visible;
        overflow-x: hidden;
        min-height: 522px;
        max-width: 100%;
        min-width: none;
        align-items: stretch;
        
        .promotions__pagination {
            position: absolute;
            z-index: 10;
            align-items: center;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #44881F;
                background-color: #F5F5F5;

                &.swiper-pagination-bullet-active {
                    width: 12px;
                    height: 12px;
                    background-color: #44881F;
                }

            }
        }

        .promotions-slider__wrapper {
            display: flex;
            align-items: stretch;

            .promotions-slider__item {
                border-radius: 16px;
                cursor: pointer;
                background-color: white;
                border: 1px solid #EBE9E6;
                min-height: 472px;
                align-self: stretch;

                .promotions-slider__item__image {
                    border-radius: 16px;
                    width: 100%;
                    aspect-ratio: 380/230;
                    position: relative;
                    
                    img {
                        border-radius: 16px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .promotions-slider__item__text {
                    padding: 20px 30px 30px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 0 0 20px 20px;

                    .promotions-slider__item__validity {
                        margin: 0 0 20px;
                    }

                    .promotions-slider__item__title {
                        margin: 0 0 15px;
                    }

                    .promotions-slider__item__description {
                        line-height: 155%;
                        margin: 0 0 33px;
                    }

                    @media (max-width: 400px) {
                        .promotions-slider__item__description {
                            font-size: 1.2rem;
                        } 
                    }

                    .promotions-slider__slide__link {
                        margin: auto 0 0;
                    }
                }

                
            }
        }
    }

    @media (max-width: 774px) {
        .promotions-slider {
            min-height: 600px;
        }
    }

    @media (max-width: 674px) {
        .promotions-slider {
            min-height: 550px;
        }
    }

    @media (max-width: 474px) {
        .promotions-slider {
            min-height: 525px;
        }
    }

    @media (max-width: 374px) {
        .promotions-slider {
            min-height: 500px;
        }
    }
}


.swiper-container {
}

.swiper-wrapper {
}


