.services {
    padding: 8.2% 0;
    background-image: url("./assets/images/services/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .services__main {

        .services__group {
            justify-content: center;

            & > * {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right;

            }

            &._first-group {
                display: grid;
                grid-template-columns: 41% 54%;
                grid-template-rows: 63% 34%;
                column-gap: 1%;
                row-gap: 3%;
                margin: 0 0 19px;

                #item-services-1 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    align-self: stretch;
                    background-image: url("./assets/images/services/1.jpg");
                    
                }
                
                #item-services-2 {
                    grid-column: 2/3;
                    grid-row: 1/3;
                    align-self: stretch;
                    background-image: url("./assets/images/services/2.jpg");
                }
                
                #item-services-3 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    align-self: stretch;
                    background-image: url("./assets/images/services/3.jpg");
                }
            }

            @media (max-width: 999px) {
                &._first-group {
                    grid-template-columns: 45% 50%;
                }
            }

            @media (max-width: 874px) {
                &._first-group {
                    display: flex;
                    row-gap: 30px;
                }
            }

            &._second-group {
                display: flex;
                margin: 0 0 20px;
                column-gap: 20px;

                #item-services-4 {
                    width: 56%;
                    background-image: url("./assets/images/services/4.jpg");
                    align-self: stretch;
                }

                #item-services-5 {
                    width: 39%;
                    background-image: url("./assets/images/services/5.jpg");
                    align-self: stretch;
                }

                @media (max-width: 1199px) {
                    #item-services-4, 
                    #item-services-5 {
                        width: 47%;
                    } 
                }

                @media (max-width: 874px) {
                    #item-services-4, 
                    #item-services-5 {
                        width: 100%;
                    } 
                }
            }

            &._third-group {
                display: flex;
                column-gap: 20px;

                #item-services-6 {
                    width: 48%;
                    background-image: url("./assets/images/services/6.jpg");
                    align-self: stretch;
                }

                #item-services-7 {
                    width: 48%;
                    background-image: url("./assets/images/services/7.jpg");
                    align-self: stretch;
                }

                @media (max-width: 874px) {
                    #item-services-6, 
                    #item-services-7 {
                        width: 100%;
                    } 
                }
            }

            .item-services {
                border: 1px solid #EBE9E6;
                border-radius: 16px;
                background-color: white;
                padding: 40px;
                position: relative;
                cursor: pointer;

                &:hover {

                    div.item-services__arrow {
                        background-color: white;
                        border: 1px solid #62A92D;

                        svg {
                            
                            path {
                                stroke: #62A92D
                            }
                        }
                    }
                }

                .item-services__title {
                    margin: 0 0 20px;

                    span.text-4 {
                        line-height: 125%;
                        margin-right: 12px;
                    } 
                }

                @media (max-width: 437px) {
                    .item-services__title {
                        font-size: 1.65rem;
                    }
                }

                ul.item-services__list {
                    list-style-type: circle;
                    list-style-position: inside;
                    padding-left: 10px;
                    
                    li {
                        list-style-type: disc;
                        line-height: 155%;

                    }

                    @media (max-width: 437px) {
                        li {
                            font-size: 1.2rem;
                        }
                    }
                }

                div.item-services__arrow {
                    position: absolute;
                    right: 40px;
                    bottom: 40px;
                }

                @media (max-width: 1000px) {
                    div.item-services__arrow {
                        right: 20px;
                        bottom: 20px;
                    } 
                }

                @media (max-width: 499px) {
                    div.item-services__arrow {
                        right: 5px;
                        bottom: 5px;
                    } 
                }

                @media (max-width: 329px) {
                    div.item-services__arrow {
                        min-width: 30px;
                        max-width: 30px;
                    } 
                }
            }
        }

        @media (max-width: 874px) {
            .services__group {
                flex-direction: column;
                row-gap: 30px;
                margin: 0 0 30px;
            }
        }
    }
}