.welcome-section {
    background-image: url("../assets/images/welcome-section/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .welcome-section__container {
        display: flex;
        align-items: center;

        .welcome-section__description {
            max-width: 559px;
            color: #302A26;

            .welcome-section__title {
                font-weight: 600;
                font-size: 4.6rem;
                line-height: 125%;
                margin: 0 0 30px;
                text-transform: uppercase;

                span {
                    color: #44881F;
                }
            }

            .welcome-section__text {
                font-size: 1.8rem;
                line-height: 155%;
                margin: 0 0 40px;
            }

            .welcome-section__button {
                padding: 20.5px 46px;
            }
        }

        .welcome-section__image {
            width: 49.5%;
            aspect-ratio: 603/673;
        }
    }
}