.welcome-section {
    background-image: url("../assets/images/welcome-section/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .welcome-section__container {
        display: flex;
        align-items: center;

        .welcome-section__description {
            max-width: 559px;
            color: #302A26;
            padding: 9.9% 0 13%;

            .welcome-section__title {
                font-weight: 600;
                font-size: 4.6rem;
                line-height: 125%;
                margin: 0 0 30px;
                text-transform: uppercase;

                span {
                    color: #44881F;
                }
            }

            @media (max-width: 899px) {
                .welcome-section__title {
                    font-size: 3.45rem;
                }
            }

            @media (max-width: 339px) {
                .welcome-section__title {
                    font-size: 2.6rem;
                }
            }

            .welcome-section__text {
                font-size: 1.8rem;
                line-height: 155%;
                margin: 0 0 40px;
            }

            @media (max-width: 424px) {
                .welcome-section__text {
                    font-size: 1.35rem;
                }
            }

            .welcome-section__button {
                padding: 20.5px 46px;
            }
        }

        .welcome-section__image {
            width: 49.5%;
            aspect-ratio: 603/673;
            position: relative;
            min-width: 49.5%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @media (max-width: 774px) {
            .welcome-section__image {
                width: 100%;
            }
        }
        
    }

    @media (max-width: 774px) {
        .welcome-section__container {
            flex-direction: column;
            align-items: center;
        }
    }
}